@using Models
@using Swagger

<tr>
    <td>
        <NavLink href="/swagger" @onclick=@(_ => this.SelectExtension())>@this.Entry.Name</NavLink>
    </td>
    <td>
        @this.Entry.Description
    </td>
    <td>
        <Status Name="@this.Entry.Name" />
    </td>
    <td>
        @this.Entry.Version
    </td>
    <td>
        <a href="@this.Entry.Url" target="_blank">@this.Entry.Url</a>
    </td>
    <td>
        @this.Entry.Authors
    </td>
</tr>

@code {
    [Parameter] public MicroserviceModel Entry { get; set; }

    [Inject] private SwaggerSelector selectorService { get; set; }
    [Inject] private NavigationManager navigationManager { get; set; }

    private void SelectExtension()
    {
        this.selectorService.SetExtension(this.Entry.Name);
        this.navigationManager.NavigateTo("/swagger");
    }
}

