@addTagHelper *, CoreXF.WebApiHost

@model IEnumerable<MicroserviceModel>

@{
    this.ViewData["Title"] = "Web APIs";
}

<h1 class="mt-4">@this.ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a id="@item.UrlEncodedName" href="/swagger">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <status current="@item.Status" item="@item.Name" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Authors)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
    <style>
        .btn:focus, .btn.focus {
            box-shadow: none;
        }
    </style>
}

@section Scripts {
    <script>
        $(function () {
            $('a').on('click', function (e) {
                var href = e.target.href;
                e.preventDefault();
                $.post('webapis/swagger', { extension: e.target.id }, function () {
                    location.href = href;
                });
            })

            var getItemName = function (e) {
                e.preventDefault();
                var item = e.currentTarget;
                var itemName = $(item).attr('data-item-name');
                return itemName;
            }

            var onclickPlay = function (e) {
                var name = getItemName(e);
                $.post('webapis/play', { item: name }, function (data) {
                    if (data.result) {
                        var parent = $(e.currentTarget).parent();

                        var play = $('.play', parent);
                        $(play).attr('disabled', '');
                        $(play).removeClass('text-success');
                        $(play).addClass('text-muted');

                        var pause = $('.pause', parent);
                        $(pause).removeAttr('disabled');
                        $(pause).removeClass('text-muted');
                        $(pause).addClass('text-danger');
                    }
                });
            };

            $('.play').on('click', onclickPlay);

            var onclickPause = function (e) {
                var name = getItemName(e);
                $.post('webapis/pause', { item: name }, function (data) {
                    if (data.result) {
                        var parent = $(e.currentTarget).parent();

                        var play = $('.play', parent);
                        $(play).removeAttr('disabled');
                        $(play).removeClass('text-muted');
                        $(play).addClass('text-success');

                        var pause = $('.pause', parent);
                        $(pause).attr('disabled', '');
                        $(pause).removeClass('text-danger');
                        $(pause).addClass('text-muted');
                    }
                });
            };

            $('.pause').on('click', onclickPause);
        });
    </script>
}
